<p id="notice"><%= notice %></p>

<h1>歡迎來到這次作業的留言版</h1>

<table>
  <thead>
    <tr>
      <th>來留言吧</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
  <tr>
   <td><%= link_to topic.title, topic %></td>
    
    <td><%= link_to '刪除', topic, method: :delete, data: { confirm: '你確定嗎?' } %></td>
   
   <td><%= link_to '編輯', edit_topic_path(topic) %> </td>
<% end %>
  </tbody>
</table>

<br>



<%= link_to '新增留言', new_topic_path %>