<p id="notice"><%= notice %></p>

<p>
  <strong>你剛剛說的話</strong>
  <%= @topic.title %>
</p>

<p>
  <strong></strong>
  <%= @topic.description %>
</p>

<%= link_to '編輯', edit_topic_path(@topic) %> |
<%= link_to '返回', topics_path %>
